<section>
  <h3>Filmdetails</h3>
  <h1>Filmtitel</h1>
  <p>Episoden Nummer</p>

<div>

  <div class="movie-description">
    <mat-card-title>Details:</mat-card-title>
    <mat-card-subtitle>Director:  </mat-card-subtitle>
    <mat-card-subtitle>Produzenten:  </mat-card-subtitle>
    <mat-card-subtitle>Erscheinungsdatum: </mat-card-subtitle>
    <p>Openinng Crawl</p> 
  </div>
  <div class="movie-image">
    <img src="src" alt="">

  </div>

</div>

<div>
  <div>
    <h3>Eigentschaft:</h3>
    
  </div>
  <div>
    <h3>Eigentschaft:</h3>
    
  </div>
  <div>
    <h3>Eigentschaft:</h3>
    
  </div>
  <div>
    <h3>Eigentschaft:</h3>
    
  </div>

</div>





</section>