<main>
  <span class="spacer100"></span>
  <h3>Filmdetails</h3>
  <span class="divider"></span>
  <h1>{{ selectedMovie.title }}</h1>
  <h3>Episode {{ selectedMovie.episode_id }}</h3>
  <span class="spacer100"></span>

  <section>
    <div class="description-wrapper">
      <mat-card-title>Details:</mat-card-title>
      <mat-card-subtitle
        ><b>Director:</b> {{ selectedMovie.director }}
      </mat-card-subtitle>
      <mat-card-subtitle
        ><b>Producer:</b> {{ selectedMovie.producer }}
      </mat-card-subtitle>
      <mat-card-subtitle
        ><b>Release Date:</b>
        {{ selectedMovie.release_date }}</mat-card-subtitle
      >
      <p [ngStyle]="{ padding: '32px 0' }">{{ selectedMovie.opening_crawl }}</p>
    </div>
    <div class="image-wrapper">
      <img src="{{ movieImage }}" alt="{{ selectedMovie.title }} Wallpaper" />
    </div>
  </section>
  <span class="spacer100"></span>
  <section>
    <div class="info-container">
      <mat-card-title>Characters:</mat-card-title>
      <div class="info-box">
        <mat-chip-list
          aria-label="Character Selection"
          *ngFor="let item of charactersData; index as i"
        >
          <mat-chip routerLink="/characters/">{{ item.name }}</mat-chip>

        </mat-chip-list>
      </div>
      <mat-card-title>Planets:</mat-card-title>
      <div class="info-box">
        <mat-chip-list
          aria-label="Planet Selection"
          *ngFor="let item of planetsData; index as i"
        >
          <mat-chip routerLink="/planets/">{{ item.name }}</mat-chip>

        </mat-chip-list>
      </div>
      <mat-card-title>Starships:</mat-card-title>
      <div class="info-box">
        <mat-chip-list
          aria-label="Starship Selection"
          *ngFor="let item of starshipsData; index as i"
          >
          <mat-chip routerLink="/movies/">{{ item.name }}</mat-chip>
        </mat-chip-list>
      </div>
      <mat-card-title>Vehicles:</mat-card-title>
      <div class="info-box">
        <mat-chip-list
          aria-label="Vehicle Selection"
          *ngFor="let item of vehiclesData; index as i"
        >
          <mat-chip routerLink="/movies/">{{ item.name }}</mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </section>
  <span class="spacer100"></span>
</main>
