.sidenav-container {
  height: 100%;
 
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  color: black;
  box-shadow: 0 2px 2px -2px gray;
  padding: 0px 4%;
  justify-content: space-around;

  @media only screen and (min-width: 768px) {
    padding: 0 13%;
    justify-content: start;
  }

  svg{

    @media only screen and (min-width: 768px) {
      margin-right: 62px;
    }
  }

}
.hidden{
  display: none;
}
.spacer{
  flex: 1 1 auto;

  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.mat-toolbar-single-row{
  height: 106px;
}

mat-toolbar a {
  display: none;
  margin: 0 16px;
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;

  &:hover,&:active{
    border-bottom: 2px solid black;
  }

  @media only screen and (min-width: 600px) {
    display: inline-block;
  }
}
.search-form{
  display: flex;
  padding: 8px;
  border: 1px solid lightgray;
  
  input{
    display: none;
    border: none;
    opacity: 0.3;

    &:focus-visible{
      outline: none;
    }

    @media only screen and (min-width: 992px) {
    display: block;
    }
  }
  .mat-icon{
    transform: rotateY(180deg);
    opacity: 0.3;
  }
}