<button onclick="loadStarWarsData()">StarWars</button>
<script>

let currentStarWarsData;

    async function loadStarWarsData() {
      let url = 'https://swapi.dev/api/planets/1/'; 
      let response = await fetch(url);
      currentStarWarsData = await response.json();
      console.log('Loaded data', currentStarWarsData);
      renderStarWarsInfo();
    }

    function renderStarWarsInfo() {
      this.document.getElementById('Name').innerHTML = this.currentStarWarsData['name'];
      this.document.getElementById('Image').src = this.currentStarWarsData['sprites']['front_shiny'];
    }

</script>
