<div class="dialog-overlay">
  <mat-card class="dialog-card">
    <mat-card-header>
      <mat-card-title>Add Character</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="dialog-form">
        <mat-label>Name</mat-label>
        <mat-form-field class="example-full-width" appearance="fill">
          <input matInput value="Name">
        </mat-form-field>
        
        
        <mat-form-field class="example-half-width p-right" appearance="fill">
          <mat-label>Height</mat-label>
          <input matInput value="Height">
        </mat-form-field>
        
        <mat-form-field class="example-half-width p-left" appearance="fill">
          <mat-label>Mass</mat-label>
          <input matInput value="Mass">
        </mat-form-field>
     
        
        <mat-form-field class="example-half-width p-right" appearance="fill">
          <mat-label>Hair Color</mat-label>
          <input matInput value="Hair Color">
        </mat-form-field>
       
        <mat-form-field class="example-half-width p-left" appearance="fill">
          <mat-label>Eye Color</mat-label>
          <mat-select placeholder="Eye Color">
            <mat-option value="Green" >Green</mat-option>
            <mat-option value="Blue" >Blue</mat-option>
            <mat-option value="Yellow" >Yellow</mat-option>
            <mat-option value="Black" >Black</mat-option>
            <mat-option value="Grey" >Grey</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-half-width p-right" appearance="fill">
          <mat-label>Birth Year</mat-label>
          <input matInput [matDatepicker]="myDatePicker" placeholder="yyyy">
          <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #myDatePicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="example-half-width p-left" appearance="fill">
          <mat-label>Gender</mat-label>
          <mat-select placeholder="Gender">
            <mat-option value="Male" >Male</mat-option>
            <mat-option value="Female" >Female</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="dialog-actions-wrapper">
      <button mat-button mat-dialog-close class="button-bg" onclick="closeDialog()">Close</button>
      <button mat-button>Add Character</button>
    </mat-card-actions>
  </mat-card>

  
</div>