/* You can add global styles to this file, and also import other style files */

@import 'src/scss styles/fonts.scss';
@import 'src/scss styles/main-container.scss';
@import 'src/scss styles/custom-classes.scss';
@import 'src/scss styles/dialog.scss';
@import 'src/scss styles/card.scss';
@import 'src/scss styles/wrapper.scss';

html,
body {
  height: 100%;
}

body {
  margin     : 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


